<!DOCTYPE html>
<html>
	<head>
	<style>
	table, th, td {
	  border: 1px solid black;
      border-collapse: collapse;
	  padding: 5px;
	}
	table {
	  border-spacing: 15px;
	}
	</style>
		<title>URL Shortner</title>
	</head>
<body>
<h1>Welcome to URL Shortner!</h1>

<table style="width:50%">
<tr>
	<th>Short URL</th>
	<th>Long URL</th>
	<th>Total Hits</th>
</tr>

{% for item in result %}
	<tr>
		<td>{{item.short_url}}</td>
		<td>{{item.long_url}}</td>
		<td>{{item.total_hits}}</td>
	</tr>
{% endfor %}
</table>
</body>